<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      Hi <%= @garden.user.first_name %>
    </h1>
    <p>
		You've received a message about your parcel<%= @message.sender.present? ? " from #{@message.sender.first_name}" : "" %>:
      <%= @message.body %>
    </p>
  </body>
</html>
